@import "tailwindcss";

@custom-variant dark (&:is(.dark *));
@layer base {
  body {
    font-family: "Poppins", sans-serif;
  }
}
@theme {
  --color-primary: #f78914;
  --color-grey: #363636;

  --spacing-60\%: 60%;
  --spacing-70\%: 70%;

  --tracking-widest: 0.515em;

  --radius-Newsletter: 30px 400px 30px 30px;
}
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  section {
    @apply py-10;
  }

  h1 {
    @apply text-black md:text-7xl sm:text-6xl text-5xl;
  }

  h2 {
    @apply text-black font-semibold sm:text-5xl text-4xl sm:leading-14 leading-11;
  }
}

@layer utilities {
  .container {
    @apply max-w-7xl mx-auto w-full px-4;
  }
}

html {
  scroll-behavior: smooth;
}
